<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/forgot-navbar.ejs') %>
    </header>
    <main>
        <div class='forgotlink'>
                resetLink :<a href="/forgot-password/<%= _id %>/<%= token %>"><%= link %></a>
                  
        </div>
    </main>  
</body>
</html>